@model ECAdmin.Areas.Admin.ViewModels.PostImage

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Post</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Post.Name" class="control-label"></label>
                <input asp-for="Post.Name" class="form-control" />
                <span asp-validation-for="Post.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Slug" class="control-label"></label>
                <input asp-for="Post.Slug" class="form-control" />
                <span asp-validation-for="Post.Slug" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Type" class="control-label"></label>
                <input asp-for="Post.Type" class="form-control" />
                <span asp-validation-for="Post.Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Description" class="control-label"></label>
                <textarea asp-for="Post.Description" class="form-control"></textarea>
                <span asp-validation-for="Post.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.ShortDescription" class="control-label"></label>
                <input asp-for="Post.ShortDescription" class="form-control" />
                <span asp-validation-for="Post.ShortDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Post.Image" class="control-label"></label>
                <img id="myimage" height="200">
                <input asp-for="file" type="file" class="form-control" onchange="onFileSelected(event)">
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script src="~/file-manager-assets/js/site.js" asp-append-version="true"></script>
<script>
    function onFileSelected(event) {
  var selectedFile = event.target.files[0];
  var reader = new FileReader();

  var imgtag = document.getElementById("myimage");
  imgtag.title = selectedFile.name;

  reader.onload = function(event) {
    imgtag.src = event.target.result;
  };

  reader.readAsDataURL(selectedFile);
}
</script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
