    <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
        <ul class="navbar-nav flex-grow-1">
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Dependency" asp-action="Index">Dependecy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Taxonomy" asp-action="Index">Taxonomy</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Roles" asp-action="Index">Roles</a>
            </li>
         </ul>
     </div>