<nav class="mt-2" id="pd-left-nav-side-bar">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Roles" asp-action="Index" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Roles</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Taxonomies" asp-action="Index" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Taxonomies</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Dependencies" asp-action="Index" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Dependencies</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Posts" asp-action="Index" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Posts</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-area="Admin" asp-controller="Products" asp-action="Index" class="nav-link ">
                <i class="far fa-circle nav-icon"></i>
                <p>Products</p>
            </a>
        </li>
    </ul>
</nav>

<code>
    <script>
        document.addEventListener("DOMContentLoaded", () => {
            pdSetActivePageLeftSideBar();
        });
        function pdSetActivePageLeftSideBar() {
            $('#pd-left-nav-side-bar a').each((i, a) => {
                if (a.href === window.location.pathname || a.href === window.location.href) {
                    $(a).addClass('active');
                    $(a).closest('.nav-item.has-treeview').find('a:eq(0)').addClass('active');
                    $(a).closest('.nav-item.has-treeview').addClass('menu-open ');
                    $(a).closest('.nav.nav-treeview').css('display', 'block');
                }
            })
        };
    </script>
</code>